[user]
	name = Ryoh Akiyoshi
	email = ryo614@gmail.com
# 	signingkey = XXXXXXXXXXXXXXXX
[core]
	editor = /usr/bin/env nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[push]
	default = current
    asdf
[pull]
	rebase = false
[include]
    path = ~/.gitconfig.local
